<html>
    <header>
        <title>
            DnD Player Stats
        </title>
    </header>
    <body style="background-color:LightSeaGreen;">
        <h1>
            Random DnD Character Roller
        </h1>
        <p>
            You are a {{race}} {{role}} <br><br>
            Strength = {{stats.STR}}<br>
            Dexterity = {{stats.DEX}}<br>
            Constiution = {{stats.CON}}<br>
            Intelligence = {{stats.INT}}<br>
            Wisdom = {{stats.WIS}}<br>
            Charisma = {{stats.CHA}}
        </p>
    </body>
</html>